<div class="home-main-banner mb-5">
    <div class="container">
        <div fxLayout='row wrap' fxLayoutGap="0px">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="69" fxFlex.xl="69">
                <div class="home-slider">
                    <embryo-HomePageOneSlider [isRTL]="embryoService.isDirectionRtl"></embryo-HomePageOneSlider>
                </div>
            </div>
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="31" fxFlex.xl="31">
                <div class="aside-banner">
                    <a [routerLink]="['/products']" class="card-shadow"> <img src="assets/images/pub4.jpg" alt="side" width="547" height="300"></a>
                </div>

                <div class="aside-banner">
                    <a [routerLink]="['/products']" class="card-shadow"><img src="assets/images/pub2.jpg" alt="side" width="547" height="300"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="feature-section">
    <div class="container">
        <embryo-Features></embryo-Features>
    </div>
</div>
<div class="shop-card-wrapper section-gap" *ngIf="productsArray">
    <div class="block-title text-center">
        <h2>Produits Populaires</h2>
    </div>


    <div class="container">
        <mat-tab-group [(selectedIndex)]="SelectedSousCategorie" (click)="SelectSousCategieProducts($event.target.innerText)">
            <mat-tab label="Afficher tout"></mat-tab>
            <div *ngFor="let sousCategorie of sousCategories">
                <mat-tab label="{{sousCategorie?.NsousCategorie}}" *ngIf="sousCategorie.Products.length>0"></mat-tab>
            </div>

        </mat-tab-group>
        <!-- product cards -->
        <ng-container *ngIf="onFeaturedSelectedTab(embryoService.featuredProductsSelectedTab)">
            <ngx-slick-carousel *ngIf="embryoService.isDirectionRtl" class="carousel" [config]="rtlSlideConfig">
                <!-- <div ngxSlickItem *ngFor="let product of sousCategorie?.Produits; let i=index"> -->
                <div ngxSlickItem *ngFor="let product of Products; let i=index">
                    <!-- <embryo-ProductCard [product]="product" (addToCart)="addToCart($event)" [currency]="embryoService.currency" (addToWishlist)="addToWishlist($event)" [index]="i" type="featured"></embryo-ProductCard> -->
                    <embryo-ProductCard [product]="product" (addToCart)="addToCart($event)" [currency]="embryoService.currency" (addToWishlist)="addToWishlist($event)" [index]="i" type="featured"></embryo-ProductCard>
                </div>
            </ngx-slick-carousel>
            <ngx-slick-carousel *ngIf="!embryoService.isDirectionRtl" class="carousel" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let product of Products; let i=index">
                    <!-- <div ngxSlickItem *ngFor="let product of sousCategorie?.Produits; let i=index"> -->
                    <embryo-ProductCard [product]="product" (addToCart)="addToCart($event)" [currency]="embryoService.currency" (addToWishlist)="addToWishlist($event)" [index]="i" type="featured"></embryo-ProductCard>
                </div>
            </ngx-slick-carousel>
        </ng-container>
        <!-- product cards -->
        <!-- product cards -->

    </div>
    <div class="detail-offer section-gap bg-white">
        <!-- <div class="container" *ngIf="productsArray">
        <embryo-DealOfTheDay [currency]="embryoService?.currency" [singleProduct]="productsArray?.men['2']"></embryo-DealOfTheDay>
    </div> -->
    </div>
    <div class="quick-shop">
        <embryo-Sales></embryo-Sales>
    </div>
    <div class="shop-card-wrapper section-gap" *ngIf="productsArray">
        <div class="block-title text-center">
            <h2>Nouvelles Arrivées</h2>
        </div>
        <div class="container">


            <ng-container *ngIf="onNewArrivalsSelectedTab(embryoService.newArrivalSelectedTab)">
                <ngx-slick-carousel *ngIf="embryoService.isDirectionRtl" class="carousel" [config]="rtlSlideConfig">
                    <div ngxSlickItem *ngFor="let product of Products; let i=index">
                        <embryo-ProductCard [product]="product" (addToCart)="addToCart($event)" [currency]="embryoService.currency" (addToWishlist)="addToWishlist($event)" [index]="i" type="new"></embryo-ProductCard>
                    </div>
                </ngx-slick-carousel>
                <ngx-slick-carousel *ngIf="!embryoService.isDirectionRtl" class="carousel" [config]="slideConfig">
                    <div ngxSlickItem *ngFor="let product of Products; let i=index">
                        <embryo-ProductCard [product]="product" (addToCart)="addToCart($event)" [currency]="embryoService.currency" (addToWishlist)="addToWishlist($event)" [index]="i" type="new"></embryo-ProductCard>
                    </div>
                </ngx-slick-carousel>
            </ng-container>
        </div>
    </div>