<mat-card>
    <h4>Informations de Profile</h4>
    <div class="pt-3">
        <div class="proflie-field mb-3">
            <label>Nom d'utilisateur:</label>
            <span>{{userDetails?.UserName}}</span>
        </div>
        <div class="proflie-field mb-3">
            <label>Nom Complet:</label>
            <span>{{userDetails?.FullName}}</span>
        </div>
        <!-- <div class="proflie-field mb-3">
            <label>Sexe:</label>
            <span>{{userDetails?.Gender}}</span>
        </div> -->
        <div class="proflie-field mb-3">
            <label>Telephone :</label>
            <span>{{userDetails?.PhoneNumber}}</span>
        </div>
        <div class="proflie-field mb-3">
            <label>Role:</label>
            <span *ngFor="let Role of roles">{{Role}}</span>
        </div>
        <div class="proflie-field mb-3">
            <label>E-mail:</label>
            <span class="text-ellipse">{{userDetails?.Email}}</span>
        </div>
        <button mat-raised-button color="accent" [routerLink]="['edit']" [queryParams]="{type:'info'}">Modifier</button>
    </div>
</mat-card>